@import "var";
@import "mixins";

// /* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  scroll-behavior: smooth;
}
/* Remove default padding */
ul,
ol {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-family: var(--ff-primary);
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 0.875rem;
}

p {
  margin-bottom: 1.25rem;
  color: $clr-grey-5;
}
/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth !important;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: $fontFamily;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul,
ol {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
// article>*+* {
//         margin-top: 1em;
// }

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
// @media (prefers-reduced-motion: reduce) {
//   * {
//     animation-duration: 0.01ms !important;
//     animation-iteration-count: 1 !important;
//     transition-duration: 0.01ms !important;
//     scroll-behavior: auto !important;
//   }
// }

.container {
  width: 80%;
  margin: 0 auto;
  
  @include breakpoint(phone) {
    width: 90%;
  }
  @include breakpoint(phone) {
    width: 95%;
  }
}

.py {
  padding: 60px 0 90px;

  @media (max-width: 1300px) {
    padding: 50px 0;
  }

  @media (max-width: 768px) {
    padding: 30px 0;
  }
}

.btn {
  text-transform: uppercase;
  background-color: $clr-primary-5;
  padding: 0.375rem 0.75rem;
  letter-spacing: $spacing;
  display: inline-block;
  font-weight: 700;
  transition: $transition;
  font-size: 0.875rem0;
  border: 2px solid transparent;
  overflow: hidden;
  cursor: pointer;
  border-radius: $radius;
  &:hover {
    color: $clr-primary-1;
    background: $clr-primary-7;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

.social-icons {
  width: 100%;
  display: flex;
  margin-top: 5rem;
  justify-content: space-around;

  .social-icon {
    font-size: 1.5em;
    color: $clr-grey-1;
    transition: $transition;

    &:hover {
      color: $clr-primary-5;
      transform: scale(1.2);
    }
  }
}

.underline {
  width: 5rem;
  height: 0.25rem;
  margin-bottom: 1.25rem;
  background: $clr-primary-5;
  margin-left: auto;
  margin-right: auto;
}

.photo {
  max-width: 25rem;
  max-height: 30rem;
  object-fit: cover;
  border-radius: $radius;
  position: relative;
}



.section-title {
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 50px;

  &::after {
    display: block;
    content: "";
    width: 20%;
    height: 5px;
    background: $clr-primary-5;
    margin: 10px auto 70px auto;
  }
}
