@import "var";
@import "mixins";
@import "global";

.hero {
  display: flex;
  align-items: center;
  justify-items: center;

  .hero-info {
    flex: 0 0 55%;
    @include breakpoint(tablet) {
      flex: 0 0 100%;
      padding-left: 100px;
    }
    @include breakpoint(phone) {
      flex: 0 0 100%;
      padding-left: 50px;
    }
    h1::before {
      @extend .underline;
      display: block;
      content: "";
      margin-left: 0 !important;
    }
    h4 {
      color: $clr-grey-5;
    }
    .hero-btn {
      margin-top: 1.25rem;
    }
    .social-icons {
      justify-content: space-between;
      width: 55%;
      @include breakpoint(tablet) {
        width: 100%;
        justify-content: space-around;
      }
      @include breakpoint(phone) {
        width: 100%;
        justify-content: space-around;
      }
    }
  }

  .hero-img {
    position: relative;
    @include breakpoint(tablet) {
      display: none;
    }
    @include breakpoint(phone) {
      display: none;
    }
    .hero-photo {
      @extend .photo;
    }
    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 2rem;
      right: -2rem;
      border: 0.25rem solid $clr-primary-7;
      border-radius: $radius;
    }
  }
}
